#==============================================================================#
# Ignore CMake temporary files
#==============================================================================#
CMakeCache.txt
CMakeFiles
Makefile
install_manifest.txt
lib/
*.cmake

# Build artifacts
*.a
install/

