#==============================================================================#
# Ignore CMake temporary files
#==============================================================================#
CMakeCache.txt
CMakeFiles
Makefile
install_manifest.txt
build.cache
lib/
*.cmake
*.dbg
*.log
*.pax.Z
config.success
test.status
test/cctest
test/cctest_a

# Build artifacts
*.a
install/

